*.iml
.gradle
/local.properties
/practice1/.idea/caches
/practice1/.idea/libraries
/practice1/.idea/modules.xml
/practice1/.idea/workspace.xml
/practice1/.idea/navEditor.xml
/practice1/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties